/* Dashboard CSS */

.dashboard_main_box {
  width: calc(100% - 260px);
  margin-left: 260px;
  height: calc(100vh - 65px);
  margin-top: 65px;
  background-color: #edf2f6;
  padding: 20px;
}

.dashboard_main_box h2 {
  font-size: 25px;
  line-height: 1;
}

/* Table Box CSS */

.table_big_box {
  width: 100%;
  overflow-x: scroll;
}

.customers {
  border-collapse: collapse;
  width: 100%;
  margin: 10px auto;
}

.customers td,
.customers th {
  border: 1px solid #ddd;
  padding: 8px;
  font-size: 14px;
}

.customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

.customers tr:hover {
  background-color: #ddd;
}

.customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--blue-color);
  color: white;
}

.customers td i{
    font-size: 22px;
    color: black;
    cursor: pointer;
    margin-right: 5px;
}

/* Radio Button */

.radioInput input {
  display: none;
}

.radioInput {
  --container_width: 300px;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 9999px;
  background-color: #fff;
  color: #000000;
  width: var(--container_width);
  overflow: hidden;
  border: 1px solid rgba(53, 52, 52, 0.226);
  margin: 5px auto;
}

.radioInput label {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  font-weight: 600;
  font-size: 14px;
}

.selection {
  display: none;
  position: absolute;
  height: 100%;
  width: calc(var(--container_width) / 2);
  z-index: 0;
  left: 0;
  top: 0;
  transition: .15s ease;
  border-radius: 20px;
}

.radioInput label:has(input:checked) {
  color: #fff;
}

.radioInput label:has(input:checked)~.selection {
  background-color: #4070f4;
  display: inline-block;
}

.radioInput label:nth-child(1):has(input:checked)~.selection {
  transform: translateX(calc(var(--container_width) * 0/2));
}

.radioInput label:nth-child(2):has(input:checked)~.selection {
  transform: translateX(calc(var(--container_width) * 1/2));
}

/* Responsive Code */

@media (max-width: 769px) {
  .dashboard_main_box {
    width: 100%;
    margin-left: 0px;
    height: calc(100vh - 65px);
    margin-top: 65px;
    padding: 10px;
  }

  .dashboard_main_box h2 {
    font-size: 25px;
    text-align: center;
  }

  /* Table CSS Code */
  .customers th{
    white-space: nowrap;
    font-size: 14px;
  }
  .customers td, .customers th{
    padding: 5px;
    font-size: 14px;
  }
}