/* Dashboard CSS */

.dashboard_main_box {
    width: calc(100% - 260px);
    margin-left: 260px;
    height: calc(100vh - 65px);
    margin-top: 65px;
    background-color: #edf2f6;
    padding: 20px;
}

.dashboard_main_box h2 {
    font-size: 25px;
    line-height: 1;
}

/* Form Box Css */

.agent_form_big_box {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.agent_form_big_box input {
    border: 1px solid #ebebeb;
    padding: 5px 10px;
    color: black;
    font-size: 14px;
    border-radius: 10px;
}

.agent_form_big_box select {
    border: 1px solid #ebebeb;
    padding: 5px 10px;
    color: black;
    font-size: 14px;
    border-radius: 10px;
}

.agent_form_big_box textarea {
    border: 1px solid #ebebeb;
    padding: 10px;
    color: black;
    font-size: 14px;
    border-radius: 10px;
}

.agent_form_big_box input[type=file] {
    cursor: pointer;
}

.agent_form_big_box input[type=submit] {
    width: 100%;
    background-color: #4070f4;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin: 10px auto;
}

.errorText {
    color: red;
    font-size: 0.875rem;
    margin-top: 0.25rem;
}

/* Table Box CSS */

.table_big_box {
    width: 100%;
    overflow-x: auto;
}

.customers {
    border-collapse: collapse;
    width: 100%;
    margin: 5px auto;
}

.customers td,
.customers th {
    border: 1px solid #ddd;
    padding: 4px 8px;
    white-space: nowrap;
    font-size: 14px;
}

.customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

.customers tr:hover {
    background-color: #ddd;
}

.customers th {
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: left;
    background-color: var(--blue-color);
    color: white;
}

.action_box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
  }

.approve_btn {
    color: green;
    padding: 2px 5px;
    border: 1px solid green;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
}

.reject_btn {
    color: red;
    padding: 2px 5px;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
}

.linkTag{
    text-decoration: none;
    color: black;
}

/* Responsive Code */

@media (max-width: 769px) {
    .dashboard_main_box {
        width: 100%;
        margin-left: 0px;
        height: calc(100vh - 65px);
        margin-top: 65px;
        padding: 10px;
    }

    .dashboard_main_box h2 {
        font-size: 21px;
        text-align: center;
    }

    /* Form CSS */
    .agent_form_big_box {
        padding: 10px;
    }

    .agent_form_big_box input {
        padding: 5px 7px;
        border-radius: 5px;
    }
    .agent_form_big_box select {
        padding: 5px 7px;
        border-radius: 5px;
    }
    .agent_form_big_box input[type=submit] {
        font-size: 14px;
        margin: 2px auto;
    }
    .approve_btn {
        font-size: 12px;
    }
    
    .reject_btn {
        font-size: 12px;
    }
    /* Table CSS Code */
    .customers th {
        white-space: nowrap;
        font-size: 14px;
    }

    .customers td,
    .customers th {
        padding: 5px;
        font-size: 14px;
    }
}